<!DOCTYPE html>
<head>
  <title>
    Admin Module Hello World - Pillar
  </title>
  <meta http-equiv="content-type" content="text/html"/>
  <meta http-equiv="content-language" content="en"/>
  <html lang="en">
</head>

<body>
  <header>
    <h1>Admin Module</h1>
  </header>
  <main>
    <p><?php echo $greeting ?> <?php echo $name ?></p>
  </main>
  <footer>
    <small>Pillar 2022</small>
  </footer>
</body>
</html>